.theme-red{
    background-color: #F44336; }
  
.theme-pink{
    background-color: #E91E63; }
    
.theme-purple{
    background-color: #9C27B0; }
  
.theme-deep-purple{
    background-color: #673AB7; }

.theme-indigo{
    background-color: #3F51B5; }

.theme-blue{
    background-color: #2196F3; }

.theme-light-blue{
    background-color: #03A9F4; }

.theme-cyan{
    background-color: #00BCD4 }

.theme-teal{
    background-color: #009688; }

.theme-green{
    background-color: #4CAF50; }

.theme-light-green{
    background-color: #8BC34A; }

.theme-lime{
    background-color: #CDDC39; }

.theme-yellow{
    background-color: #FFEB3B; }

.theme-amber{
    background-color: #FFC107; }

.theme-orange{
    background-color: #FF9800; }

.theme-brown{
    background-color: #795548; }

.theme-deep-orange{
    background-color: #FF5722; }

.theme-grey{
    background-color: #9E9E9E; }

.theme-blue-grey{
    background-color: #607D8B; }

.theme-black{
    background-color: #000; }
                                                        

